@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root{
    --secondary: #294969;
    --third: #C1C1C1;
    --font-primary: #000;
    --font-secondary: #fff;
    --secondary-hover: #193858;
    --third-hover:#B1B1B1;
}

.btn{
    padding: 0;
}

.btn-color--secondary{
    padding: 4px 28px;
    border-radius: 10px;
    font-size: 14px;
    text-align: center;
    background: var(--secondary);
    color: var(--font-secondary);
}

.btn-color--third{
    padding: 4px 24px;
    border-radius: 10px;
    font-size: 14px;
    text-align: center;
    background: var(--third);
    color: var(--font-primary);
}

.btn-color--third:hover{
    background: var(--third-hover);
    color: var(--font-primary);
}

.btn-color--secondary:hover{
    background: var(--secondary-hover);
    color: var(--font-secondary);
}


.analisis-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    padding: 1rem;
}

#graficaColores {
    width: 100%;
    max-width: 500px;
    height: auto;
}

.tabla-colores {
    max-width: 400px;
    width: 100%;
}

@media (max-width: 768px) {
    .analisis-container {
        flex-direction: column;
        align-items: center;
    }
}
