:root{
    --primary: #95B6BC;
    --secondary: #294969;
    --font-primary: #000;
    --font-secondary: #fff;
    --primary-hover: #7BA1A8;
}

.btn-color{
    background: var(--primary);
    color: var(--font-primary);
}

.btn-color:hover{
    background: var(--primary-hover);
    color: var(--font-primary);
}

.centrado {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}
