<form id="autoPostForm" action="/aspirante/preguntasPrueba/16PF" method="POST">
    <input type="hidden" name="idAspirante" value="<%= idAspirante %>">
  </form>
  
  <script>
    document.getElementById('autoPostForm').submit();
  </script>
  