<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Archivo guardado</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- CSS link -->
    <link rel="stylesheet" href="/css/aspirantes/respuestasEnviadas.css">
</head>
<body>
    <div class="main-container">
        <h1 class="text-center">Tu archivo ha sido guardado con éxito</h1>
        <hr><br>

        <a href="/aspirante/cargar-expedientes" class="btn btn-color--secondary mb-4">Cargar otro archivo</a>
        <a href="/aspirante/mis-pruebas" class="btn btn-color--secondary">Ver mis pruebas</a>
    </div>
</body>
</html>