<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formato de Entrevista</title>
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- CSS link -->
    <link rel="stylesheet" href="/css/aspirantes/formatoDeEntrevista.css">

</head>
<body>
    <div class="container mt-4">
        <h1 class="text-center">FORMATO DE ENTREVISTA</h1>
        <hr>

        <form action="/aspirante/formato-entrevista" method="POST"> 

            <!-- Fecha -->
            <div class="col-md-3 mb-3">
                <label class="form-label" for="pregunta_1">Fecha</label>
                <input type="date" class="form-control" name="pregunta_1" required>
            </div>

            <!-- Datos Personales -->
            <h5>Datos personales</h5>
            <hr>

            <!-- Nombre -->
            <div class="mb-3">
                <label class="form-label" for="pregunta_2">Nombre</label>
                <input type="text" class="form-control" placeholder="Nombre" name="pregunta_2" required>
            </div>

            <!-- Apellidos -->
            <div class="row gx-2 mb-3">
                <div class="col-md-6">
                    <label class="form-label" for="pregunta_3">Apellido Paterno</label>
                    <input type="text" class="form-control" placeholder="Apellido Paterno" name="pregunta_3" required>
                </div>

                <div class="col-md-6 mb-3">
                    <label class="form-label" for="pregunta_4">Apellido Materno</label>
                    <input type="text" class="form-control" placeholder="Apellido Materno" name="pregunta_4" required>
                </div>
            </div>

            <!-- Fecha de nacimiento -->
            <div class="col-md-3 mb-3">
                <label class="form-label" for="pregunta_5">Fecha de Nacimiento</label>
                <input type="date" class="form-control" name="pregunta_5">
            </div>

            <!-- Edad -->
            <div class="col-md-3 mb-3">
                <label class="form-label" for="pregunta_6">Edad</label>
                <input type="number" class="form-control" name="pregunta_6">
            </div>

            <!-- Género -->
            <div class="col-md-3 mb-3">
                <label class="form-label" for="pregunta_7">Género</label>
                <input type="text" class="form-control" placeholder="Masculino/Femenino/Otro" name="pregunta_7">
            </div>

            <!-- Estado civil -->
            <div class="col-md-3 mb-3">
                <label class="form-label" for="pregunta_8">Estado Civil</label>
                <input type="text" class="form-control" placeholder="Soltero/Casado/Divorciado/etc." name="pregunta_8">
            </div>

            <!-- Lugar de origen -->
            <div class="row gx-2 mb-3">
                <div class="col-md-6">
                    <label class="form-label" for="pregunta_9">Nacionalidad</label>
                    <input type="text" class="form-control" placeholder="Nacionalidad" name="pregunta_9">
                </div>

                <div class="col-md-6">
                    <label class="form-label" for="pregunta_10">Estado de origen</label>
                    <input type="text" class="form-control" placeholder="Estado de origen" name="pregunta_10">
                </div>
            </div>

            <!-- Dirección actual -->
            <div class="mb-3">
                <label class="form-label" for="pregunta_11">Dirección Actual</label>
                <input type="text" class="form-control" placeholder="Calle Ejemplo #123, Col. Centro, CP 12345" name="pregunta_11">
            </div>

            <!-- Teléfono fijo -->
            <div class="col-md-6 mb-3">
                <label class="form-label" for="pregunta_12">Teléfono Fijo</label>
                <input type="tel" class="form-control" placeholder="+52 55 1234 5678" name="pregunta_12">
            </div>

            <!-- Celular -->
            <div class="col-md-6 mb-3">
                <label class="form-label" for="pregunta_13">Celular</label>
                <input type="tel" class="form-control" placeholder="+52 55 123 4567" name="pregunta_13">
            </div>

            <!-- Correo -->
            <div class="mb-3">
                <label class="form-label" for="pregunta_14">Correo</label>
                <input type="email" class="form-control" placeholder="ejemplo@dominio.com" name="pregunta_14">
            </div>

            <!-- Descripcion amplia -->
            <div class="mb-3">
                <label class="form-label" for="pregunta_15">1. Realice una descripción amplia de su persona</label>
                <textarea class="form-control" rows="5" name="pregunta_15"></textarea>
            </div>

            <!-- Estado de ánimo cotidiano -->
            <div class="mb-3">
                <label class="form-label" for="pregunta_16">2. Describa su estado de ánimo cotidiano</label>
                <textarea class="form-control" rows="3" name="pregunta_16"></textarea>
            </div>

            <!-- Estado de ánimo situaciones presión -->
            <div class="mb-3">
                <label class="form-label" for="pregunta_17">3. Describa su estado de ánimo en situaciones de presión</label>
                <textarea class="form-control" rows="3" name="pregunta_17"></textarea>
            </div>

            <!-- Estado de ánimo situaciones críticas -->
            <div class="mb-3">
                <label class="form-label" for="pregunta_18">4. Describa su estado de ánimo en situaciones críticas</label>
                <textarea class="form-control" rows="3" name="pregunta_18"></textarea>
            </div>

            <!-- Estado de salud -->
            <div class="mb-3">
                <label class="form-label" for="pregunta_19">5. ¿Cómo considera que es su estado de salud?</label>
                <textarea class="form-control" rows="3" name="pregunta_19"></textarea>
            </div>

            <!-- Tiempo libre -->
            <div class="mb-3">
                <label class="form-label" for="pregunta_20">6. ¿A qué dedica sus tiempos libres?</label>
                <textarea class="form-control" rows="5" name="pregunta_20"></textarea>
            </div>

            <!-- Datos Académicos -->
            <h5>Datos académicos</h5>
            <hr>

            <!-- Licenciatura -->
            <div class="mb-3">
                <label class="form-label" for="pregunta_21">Nombre de la Licenciatura</label>
                <input type="text" class="form-control" placeholder="Nombre de la Licenciatura" name="pregunta_21">
            </div>

            <!-- Institución -->
            <div class="mb-3">
                <label class="form-label" for="pregunta_22">Institución de Procedencia</label>
                <input type="text" class="form-control" placeholder="Institución de Procedencia" name="pregunta_22">
            </div>

            <!-- Promedio de egreso -->
            <div class="col-md-3 mb-3">
                <label class="form-label" for="pregunta_23">Promedio de egreso</label>
                <input type="number" class="form-control" placeholder="85 (escala 0-100)" name="pregunta_23">
            </div>

            <!-- Generación -->
            <div class="col-md-3 mb-3">
                <label class="form-label" for="pregunta_24">Generación (año)</label>
                <input type="text" class="form-control" placeholder="2023-2027" name="pregunta_24">
            </div>

            <!-- Grado máximo de estudios -->
            <div class="mb-3">
                <label class="form-label" for="pregunta_25">Grado máximo de estudios</label>
                <input type="text" class="form-control" placeholder="Licenciatura/Maestría/Doctorado" name="pregunta_25">
            </div>

            <!-- Maestría o especialidad -->
            <div class="mb-3">
                <label class="form-label" for="pregunta_26">Maestría o especialidad (en caso de tener)</label>
                <input type="text" class="form-control" placeholder="Maestría o especialidad" name="pregunta_26">
            </div>

            <!-- Institución donde curso la Maestría -->
            <div class="mb-3">
                <label class="form-label" for="pregunta_27">Institución donde curso la Maestría</label>
                <input type="text" class="form-control" placeholder="Institución donde curso la Maestría" name="pregunta_27">
            </div>

            <!-- Promedio de egreso de la Maestría -->
            <div class="col-md-3 mb-3">
                <label class="form-label" for="pregunta_28">Promedio de egreso de la Maestría</label>
                <input type="number" class="form-control" placeholder="85 (escala 0-100)" name="pregunta_28">
            </div>

            <!-- Cursos y Diplomados -->
            <div class="mb-3">
                <label class="form-label" for="pregunta_29">Cursos y Diplomados (Escribir los de los últimos tres años)</label>
                <textarea class="form-control" rows="10" placeholder="Nombre del curso, institución, fecha, duración (ej. Diseño UX, UNAM, 2023, 120 hrs)" name="pregunta_29"></textarea>
            </div>

            <!-- Idiomas que domina -->
            <div class="mb-3">
                <label class="form-label" for="pregunta_30">Idiomas que domina</label>
                <textarea class="form-control" rows="5" placeholder="Inglés (avanzado), Francés (básico)" name="pregunta_30"></textarea>
            </div>

            <!-- desempeño académico -->
            <div class="mb-3">
                <label class="form-label" for="pregunta_31">1. ¿Cómo considera que ha sido su desempeño académico hasta llegar a este posgrado?</label>
                <textarea class="form-control" rows="5" name="pregunta_31"></textarea>
            </div>

            <!-- Cursos que han brindado herramientas -->
            <div class="mb-3">
                <label class="form-label" for="pregunta_32">
                    2. ¿Cuáles han sido los cursos de actualización, los seminarios o congresos a los que ha asistido que le han brindado mayores herramientas en su desarrollo profesional o personal?
                </label>
                <textarea class="form-control" rows="7" name="pregunta_32"></textarea>
            </div>

            <!-- interés en posgrado -->
            <div class="mb-3">
                <label class="form-label" for="pregunta_33">3. ¿Cómo surge el interés en este programa de posgrado?</label>
                <textarea class="form-control" rows="5" name="pregunta_33"></textarea>
            </div>

            <!-- finalidad de estudiar posgrado -->
            <div class="mb-3">
                <label class="form-label" for="pregunta_34">
                    4. ¿Cuál es la finalidad de estudiar este posgrado y cómo se integrará en sus experiencias personales y/o profesionales?
                </label>
                <textarea class="form-control" rows="7" name="pregunta_34"></textarea>
            </div>

            <!-- expectativas -->
            <div class="mb-3">
                <label class="form-label" for="pregunta_35">5. ¿Cuáles son sus expectativas acerca de las aportaciones que le pueda hacer este posgrado?</label>
                <textarea class="form-control" rows="7" name="pregunta_35"></textarea>
            </div>

            <!-- visión profesional -->
            <div class="mb-3">
                <label class="form-label" for="pregunta_36">6. Explique su visión respecto a su desarrollo profesional en años posteriores a su egreso de este posgrado</label>
                <textarea class="form-control" rows="7" name="pregunta_36"></textarea>
            </div>

            <!-- cambiar de residencia -->
            <div class="col-md-3 mb-3">
                <label class="form-label" for="pregunta_37">7. ¿Está dispuesto a cambiar de residencia?</label>
                <input type="text" class="form-control" placeholder="si/no" name="pregunta_37">
            </div>

            <!-- Datos Laborales -->
            <h5>Datos Laborales</h5>
            <hr>

            <!-- Último trabajo -->
            <div class="mb-3">
                <label class="form-label" for="pregunta_38">Escribe el último trabajo en el que te desempeñaste</label>
                <input type="text" class="form-control" placeholder="ej. Analista de Sistemas en empresa de tecnología" name="pregunta_38">
            </div>

            <!-- Lugar de trabajo -->
            <div class="mb-3">
                <label class="form-label" for="pregunta_39">Lugar donde trabaja</label>
                <input type="text" class="form-control" placeholder="ej. Ciudad de México, México" name="pregunta_39">
            </div>
            
            <!-- Nombre de la empresa -->
            <div class="mb-3">
                <label class="form-label" for="pregunta_40">Nombre de la empresa</label>
                <input type="text" class="form-control" placeholder="ej. Tecnologías Innovadoras S.A. de C.V." name="pregunta_40">
            </div>

            <!-- Puesto que desempeña -->
            <div class="mb-3">
                <label class="form-label" for="pregunta_41">Puesto que desempeña</label>
                <input type="text" class="form-control" placeholder="ej. Gerente de Proyectos" name="pregunta_41">
            </div>

            <!-- Años en la empresa -->
            <div class="mb-3">
                <label class="form-label" for="pregunta_42">Años en la empresa</label>
                <input type="text" class="form-control" placeholder="3 años" name="pregunta_42">
            </div>

            <!-- Actividades que realiza -->
            <div class="mb-3">
                <label class="form-label" for="pregunta_43">Actividades que realiza</label>
                <textarea class="form-control" rows="5" placeholder="Describa sus principales responsabilidades y tareas diarias..." name="pregunta_43"></textarea>
            </div>

            <!-- Sueldo que percibe -->
            <div class="mb-3">
                <label class="form-label" for="pregunta_44">Sueldo que percibe</label>
                <input type="text" class="form-control" placeholder="$25,000 MXN mensuales" name="pregunta_44">
            </div>

            <!-- Tiene personal a su cargo -->
            <div class="col-md-3 mb-3">
                <label class="form-label" for="pregunta_45">Tiene personal a su cargo</label>
                <input type="text" class="form-control" placeholder="si/no" name="pregunta_45">
            </div>

            <!-- relación que tiene con su jefe inmediato -->
            <div class="mb-3">
                <label class="form-label" for="pregunta_46">1. ¿Cómo considera que es la relación que tiene con su jefe inmediato?</label>
                <textarea class="form-control" rows="5" placeholder="Describa la comunicación, apoyo y dinámica de trabajo con su superior..." name="pregunta_46"></textarea>
            </div>

            <!-- personal a su cargo -->
            <div class="mb-3">
                <label class="form-label" for="pregunta_47">2. ¿Cuál es la relación que tiene con el personal a su cargo?</label>
                <textarea class="form-control" rows="5" name="pregunta_47"></textarea>
            </div>

            <!-- mayor reto -->
            <div class="mb-3">
                <label class="form-label" for="pregunta_48">3. ¿Cuál es el mayor reto que se ha encontrado en los trabajos que ha tenido y como lo ha resuelto? </label>
                <textarea class="form-control" rows="8" placeholder="Describa una situación desafiante, acciones tomadas y resultados obtenidos..." name="pregunta_48"></textarea>
            </div>

            <!-- empresa en la que trabaja está enterada -->
            <div class="mb-3">
                <label class="form-label" for="pregunta_49">4. La empresa en la que trabaja está enterada de sus intereses académicos</label>
                <textarea class="form-control" rows="3" name="pregunta_49"></textarea>
            </div>

            <!-- reacción de la empresa -->
            <div class="mb-3">
                <label class="form-label" for="pregunta_50">5. ¿Cuál ha sido la reacción de la empresa ante estos intereses?</label>
                <textarea class="form-control" rows="5" name="pregunta_50"></textarea>
            </div>

            <!-- combinar actividades -->
            <div class="mb-3">
                <label class="form-label" for="pregunta_51">6. ¿Considera combinar sus actividades profesionales con las académicas?</label>
                <textarea class="form-control" rows="5" name="pregunta_51"></textarea>
            </div>

            <div class="fixed-bottom-buttons">
                <div class="container">
                    <div class="row gx-3 mt-4 mb-3">
                        <div class="col-md-6">
                            <a href="/aspirante/mis-pruebas" class="btn btn-color--third">Regresar</a>
                        </div>

                        <div class="col-md-6 text-end">
                            <button type="submit" class="btn btn-color--secondary">Enviar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>