<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test de aptitud mental OTIS</title>
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- CSS link -->
    <link rel="stylesheet" href="/css/aspirantes/pruebaOtis.css">
    
</head>
<body>
    <div class="container mt-4">
        <h2 class="text-center">Test de aptitud mental OTIS</h2>
        <hr>
        <div class="datosCaja activeInfo">
            <!-- Datos Personales -->
            <div class="tituloDatos">Datos personales</div>
            <hr>
            <div class="row gx-3 mb-3">
                <div class="col-md-4">
                    <input type="text" class="form-control" placeholder="Nombre">
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" placeholder="Apellido Paterno">
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" placeholder="Apellido Materno">
                </div>
            </div>
            <div class="row gx-3 mb-3">
                <div class="col-md-2">
                    <input type="number" class="form-control" placeholder="Edad">
                </div>
                <div class="col-md-3">
                    <select class="form-select">
                        <option>Género</option>
                        <option>Masculino</option>
                        <option>Femenino</option>
                        <option>No binario</option>
                        <option>Prefiero no decirlo</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <select class="form-select">
                        <option>Escolaridad</option>
                        <option>Licenciatura</option>
                        <option>Maestría</option>
                        <option>Doctorado</option>
                        <option>Otro</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" placeholder="Puesto solicitado">
                </div>
            </div>
            <hr>
            <button class="btnDatosContinuar">Continuar</button>

        </div>
    </div>
    
        <div class="container mt-4">
            <div class="preguntasCaja">
                <!-- Temporizador -->
                <div class="Temporizador">
                    <div class="tiempoTexto">Tiempo restante</div>
                    <div class="tiempoNumeroSec">1800</div>
                </div>
    
                <!-- Seccion de preguntas -->
                <h5>Preguntas</h5>
                <hr>
    
                <!-- Preguntas de la prueba OTIS -->
                <div class="pregtext"></div>
                <div class="optionList"></div>

                <hr>
                <footer>
                    <div class="pregProgreso">
                    
                    </div>
                    <!-- Boton anterior-->
                    <button class="antbtn">Anterior</button>
                    <!-- Boton siguiente-->
                    <button class="sigbtn">Siguiente</button>
                        
                    <!-- Boton finalizar -->
                    <div class="text-end mt-4">
                        <button type="button" class="btn btn-color--secondary">Enviar Respuestas</button>
                    </div>
                </footer>
                
            </div>
        </div>
       
        <!-- Respuestas enviadas -->
        <div class="enviadasCaja">
            <h3>Tus respuestas han sido enviadas con exito</h3>
            <!-- Boton finalizar -->
            <div class="text-end mt-4">
                <button type="button" class="btn btn-color--secondary" onclick="window.location.href='/Aspirante/mis-pruebas'">Pagina de Inicio</button>
            </div>
        </div>

    <!-- JS -->
    <script src="/js/pruebaOtis.js"></script>
    <script src="/js/preguntasPruebaOtis.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
