:root{
    --primary: #95B6BC;
    --secondary: #294969;
    --third: #C1C1C1;
    --font-primary: #000;
    --font-secondary: #fff;
    --primary-hover: #7BA1A8;
    --secondary-hover: #193858;
    --third-hover:#B1B1B1;
}

.datosCaja{
    opacity: 0;
    pointer-events: none;
}

.datosCaja.activeInfo{
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
}

.tituloDatos{
    font-size: 25px;
    color: var(--secondary);
    font-weight: 600;
}

.btnDatosContinuar button{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.sigbtn button{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.antbtn button{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.preguntasCaja{
    opacity: 0;
    pointer-events: none;
}

.preguntasCaja.activeQuiz{
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
    transform: translate(0%, -50%) scale(1);
}

footer .pregProgreso {
    display: flex;
    user-select: none;
    padding: 0 5px;
}

.enviadasCaja{
    opacity: 0;
    pointer-events: none;
}

.option {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-size: 16px;
    padding: 5px;
}

.option input {
    cursor: pointer;
}

.btn-color--primary{
    background: var(--primary);
    color: var(--font-primary);
}

.btn-color--secondary{
    background: var(--secondary);
    color: var(--font-secondary);
}

.btn-color--third{
    background: var(--third);
    color: var(--font-primary);
}

.btn-color--third:hover{
    background: var(--third-hover);
    color: var(--font-primary);
}

.btn-color--secondary:hover{
    background: var(--secondary-hover);
    color: var(--font-secondary);
}

.btn-color--primary:hover{
    background: var(--primary-hover);
    color: var(--font-primary);
}