<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cerrar sesion</title>
</head>
<body>
    <a onclick="window.location.href='/logout'" class="btn btn-color--primary btn-sm">Cerrar Sesion</a>
</body>
</html>