<div class="wrapper">
    <aside id="sidebar">
        <div class="d-flex justify-content-between p-4">
            <button class="toggle-btn border-0 " id="toggle-btn">
                <div class="logo-container">
                    <img class="normal-logo" id="logoCompleto" src="/images/logoCompleto.png" alt="Logo PSICODX">
                    <img class="small-logo" id="logoIndividual" src="/images/logoIndividual.png" alt="Logo PSICODX">
                </div>
            </button>
        </div>
        <ul class="sidebar-nav">
            <li class="sidebar-item">
                <a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse" 
                    data-bs-target="#pruebas" aria-expanded="false" aria-controls="pruebas">
                    <img class="icon-exam" src="/images/examIcon.svg" alt="icono de pruebas">
                    <span class="text-exam">Pruebas</span>
                </a>
                <ul id="pruebas" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="/aspirante/mis-pruebas" class="sidebar-link">Todas mis pruebas</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="/aspirante/pruebas-pendientes" class="sidebar-link">Pruebas pendientes</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="/aspirante/pruebas-completadas" class="sidebar-link">Pruebas completadas</a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse" 
                    data-bs-target="#documentos" aria-expanded="false" aria-controls="documentos">
                    <img class="icon-docs" src="/images/document.svg" alt="icono de documentos">
                    <span class="text-docs">Documentos</span>
                </a>
                <ul id="documentos" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="/aspirante/cargar-expedientes" class="sidebar-link">Subir documentos</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="/aspirante/formato-entrevista" class="sidebar-link">Formato de entrevista</a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-item mt-4 text-center">
                <button class="btn btn-outline-secondary w-75" data-bs-toggle="modal" data-bs-target="#soporteModal">
                Soporte
                </button>
            </li>   
        </ul>
    </aside>
</div>

<div class="modal fade" id="soporteModal" tabindex="-1" aria-labelledby="soporteModalLabel" aria-hidden="true"
     data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog">
    <form class="modal-content" action="/aspirante/soporte" method="POST">
      <div class="modal-header">
        <h5 class="modal-title">Enviar mensaje a Soporte Tecnico</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="mensajeSoporte" class="form-label">Escribe tu consulta</label>
          <textarea class="form-control" name="mensaje" id="mensajeSoporte" rows="5" required></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Enviar</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
      </div>
    </form>
  </div>
</div>

