<div class="wrapper">
    <aside id="sidebar">
        <div class="d-flex justify-content-between p-4">
            <button class="toggle-btn border-0 " id="toggle-btn">
                <div class="logo-container">
                    <img class="normal-logo" id="logoCompleto" src="/images/logoCompleto.png" alt="Logo PSICODX">
                    <img class="small-logo" id="logoIndividual" src="/images/logoIndividual.png" alt="Logo PSICODX">
                </div>
            </button>
        </div>
        <ul class="sidebar-nav">
            <li class="sidebar-item">
                <a href="/coordinador/psicologos-registrados" class="sidebar-link">
                    <img class="icon-psic" src="/images/psicologo.svg" alt="psicologo icon">
                    <span class="text-psic">Psicologos</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="/coordinador/coordinadores-registrados" class="sidebar-link">
                    <img class="icon-coordi" src="/images/coordinador.svg" alt="coordinador icon">
                    <span class="text-coordi">Coordinadores</span>
                </a>
            </li>
            <li class="sidebar-item">

            </li>
        </ul>
    </aside>
</div>