<!DOCTYPE html>
<html lang="es">
<body>
    <h3>Nav side</h3>
    <aside>
        <ul>
            <li onclick="navigateTo('/psicologo/principal')">Inicio</li>
            <li onclick="navigateTo('/psicologo/catalogo-instituciones')"
            >Instituciones</li>
            <li onclick="navigateTo('/psicologo/catalogo-pruebas')"
            >Pruebas</li>
        </ul>
    </aside>

    <script>
        function navigateTo(route) {
            window.location.href = route;
        }
    </script>
</body>
</html>