<%- include('../includes/_navsidePsicologo.ejs') %>
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grupos por Institucion</title>


    <!-- Bootstrap CSS -->
    <link href=
    "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    rel="stylesheet">
</head>


<body class="bg-light">
    <div class="container">
        <!-- Boton cerrar sesión -->
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-secondary"
            onclick="window.location.href=
            '/login'">Cerrar Sesión</button>
        </div>

        <h3>Tecnológico de Monterrey</h3>
        <h4>Estatus:</h4>
        <span class="badge text-bg-info">Activa</span>
        <br>
        <h4>Tipo de Institución: Educativa</h4>
        <br>
        <h1 class="text-center">GRUPOS REGISTRADOS</h1>
       
        <!-- Campo Buscar -->
        <div class="form-floating mb-3">
            <input type="" class="form-control" id="" placeholder="">
            <label for="">Buscar</label>
        </div>


        <!-- Boton de navegación "Registrar nueva institucion" -->
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-primary"
            onclick="window.location.href=
            '/psicologo/registrar-grupo'">Registrar Nuevo</button>
        </div>


        <div class="row g-4">
            <!-- Tarjetas Grupos-->
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">ITC 2025</h5>
                        <span class="badge rounded-pill text-bg-info">Activa</span>
                        <p class="card-text">Carrera: Ingeniería en Tecnologías Computacionales</p>
                        <p class="card-text">Año de Generación: 2025</p>
                        <p class="card-text">Semestre: Feb - Jun</p>
                        <p class="card-text">Número de Aspirantes: 20</p>
                        <a href="/psicologo/aspirantes" class="btn btn-primary w-100">Ver Grupo</a>
                        <a href="/psicologo/editar-grupo" class="btn btn-secondary w-100">Editar</a>
                    </div>
                </div>
            </div>


            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">IRS 2024</h5>
                        <span class="badge rounded-pill text-bg-danger">Desactivada</span>
                        <p class="card-text">Carrera: Ingeniería en Robótica y Sistemas Digitales</p>
                        <p class="card-text">Año de Generación: 2024</p>
                        <p class="card-text">Semestre: Feb - Jun</p>
                        <p class="card-text">Número de Aspirantes: 12</p>
                        <a href="/psicologo/aspirantes" class="btn btn-primary w-100 disabled">Ver Grupo</a>
                        <a href="/psicologo/editar-grupo" class="btn btn-secondary w-100">Editar</a>
                    </div>
                </div>
            </div>


            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">IM 2025</h5>
                        <span class="badge rounded-pill text-bg-info">Activa</span>
                        <p class="card-text">Carrera: Ingeniería Mecánica</p>
                        <p class="card-text">Año de Generación: 2025</p>
                        <p class="card-text">Semestre: Ago - Dic</p>
                        <p class="card-text">Número de Aspirantes: 16</p>
                        <a href="/psicologo/aspirantes" class="btn btn-primary w-100">Ver Grupo</a>
                        <a href="/psicologo/editar-grupo" class="btn btn-secondary w-100">Editar</a>
                    </div>
                </div>
            </div>


            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">IBM 2023</h5>
                        <span class="badge rounded-pill text-bg-danger">Desactivada</span>
                        <p class="card-text">Carrera: Ingeniería Biomédica</p>
                        <p class="card-text">Año de Generación: 2023</p>
                        <p class="card-text">Semestre: Ago - Dic</p>
                        <p class="card-text">Número de Aspirantes: 19</p>
                        <a href="/psicologo/aspirantes" class="btn btn-primary w-100 disabled">Ver Grupo</a>
                        <a href="/psicologo/editar-grupo" class="btn btn-secondary w-100">Editar</a>
                    </div>
                </div>
            </div>


            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">IMT 2024</h5>
                        <span class="badge rounded-pill text-bg-danger">Desactivada</span>
                        <p class="card-text">Carrera: Ingeniería en Mecatrónica</p>
                        <p class="card-text">Año de Generación: 2024</p>
                        <p class="card-text">Semestre: Feb - Jun</p>
                        <p class="card-text">Número de Aspirantes: 18</p>
                        <a href="/psicologo/aspirantes" class="btn btn-primary w-100 disabled">Ver Grupo</a>
                        <a href="/psicologo/editar-grupo" class="btn btn-secondary w-100">Editar</a>
                    </div>
                </div>
            </div>


            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">IIS 2025</h5>
                        <span class="badge rounded-pill text-bg-info">Activa</span>
                        <p class="card-text">Carrera: Ingeniería Industrial y de Sistemas</p>
                        <p class="card-text">Año de Generación: 2025</p>
                        <p class="card-text">Semestre: Ago - Dic</p>
                        <p class="card-text">Número de Aspirantes: 6</p>
                        <a href="/psicologo/aspirantes" class="btn btn-primary w-100">Ver Grupo</a>
                        <a href="/psicologo/editar-grupo" class="btn btn-secondary w-100">Editar</a>
                    </div>
                </div>
            </div>
        </div>


        <br>
        <!-- Botones de navegación Grupo, Edicion, Regresar" -->
        <button type="button" class="btn btn-secondary"
        onclick="window.location.href=
        '/psicologo/catalogo-instituciones'">Regresar</button>
        <br>
    </div>
    <!-- Bootstrap JS -->
    <script src=
    "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    ></script>
</body>
